@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.banner{
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    height: 660px;
    background-size: cover;
}

nav{
    padding: 0;
    margin: 0;
}
.jumbotron-header {
    
    padding: 10px 0px;
}
.navLink{
   font-family: 'Roboto', sans-serif;
   color: #ffffff;
   font-size: 15px;
   text-decoration: none;
}
.navLink:hover{
   text-decoration: none; 
   color: #f9ff4d;
}
.active1{
   color: #f9ff4d;  
}
.jumbotron-footer{
   background:#060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 40px 0px !important;
    margin: 0px;
}
.footer-heading{
	color: #fff;
	font-size:16px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
 
}
.footer-links{
	color: #eee;
	font-size:14px;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}
.logo{
     color: #ffffff !important;
     font-weight: bold;
     font-family: 'Roboto', sans-serif;
     font-size: 26px;
     letter-spacing: 2px;
}
.topPadding{
    position: relative;
    top: 90px;
}
.bigHeading{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.consulButton{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f9ff4d;
    padding: 12px 19px;
    font-weight: bold;
    text-align: center;
}
.consulButton:hover{
    border: 2px solid  #f9ff4d;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.subHeading{
    font-family: 'Roboto', sans-serif;
    color: #f9ff4d;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: bold;
}
.subHeading1{
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.colorHr{
    border-top: 3px solid #f9ff4d;
    width: 70px;
    margin-bottom: 12px;
}
.bigHeading1{
    font-family: 'Roboto', sans-serif;
    color:  #333333;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.subHeading1Grey{
    color: #a6a6a6;
    font-size: 15px;
}
.sideImg{
        position: absolute;
    top: 60%;
    left: 50%;
    max-width: 436px;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0,0,0,.5);
    box-shadow: -17px 10px 34px -18px rgba(0,0,0,.5);
}
.images{
   position: relative;
}
.greyBack{
  background-color: #f2f2f2;
  padding: 100px 0px;
}
.topMargin{
  margin-top: 30px;  
}
.iconBox{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid #f9ff4d;
    margin-left: 130px;
 }
.iconBox i{
    font-size: 27px;
    color: #000000;
    position: relative;
    top: 29px;
    font-weight: bold;
}
.serviceHeadSmall{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #000000;
    letter-spacing: 1px;
    font-size: 19px;
    text-transform: uppercase;
}
.backImg{
    background-image: url(../images/banner1.jpg);
    padding: 80px 0px;
    background-size: cover;
}
.bigHeading2{
    font-weight: 500;
    font-size: 44px;
}








/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
   
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {


}


/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
    .banner{
        height: 520px;
    }
    
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 
    .bigHeading{
        font-size: 30px;
    }
    .navLink{
      padding: 0px 7px;     
    }
}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
 .navLink{
    padding: 0px 7px;     
  }
  .topPadding{
     left: 30px;
   }

    
}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
.navLink{
    padding: 0px 14px;     
  }
 
}
